.card-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
  max-height: max-content;
  max-width: 400px;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-body {
  width: 100%;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
}
